.salaries{
    display: inline-flex;
    flex-wrap: wrap;
    gap: 12px;
}

.averageMoney{
    display: flex;
    align-items:self-end
}


.increase-decrease{
    margin-left: 10px;
    margin-bottom: 3px;
}