.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.light {
  background: #dbdbdb;
  color: #1f1f1f;
}

.dark {
  background: #383838;
  color: #ffff;
}

.filter {
  margin: 30px;
}

.dropdown {
  margin-bottom: 10px;
  width: 300px;
  display: flex;
  justify-content: space-between;
}

.button {
  width: 300px;
  height: 30px;
}

.table {
  width: 80%;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #a5a5a5;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #848484;
}

.Length {
  margin-bottom: 10px;
  display: flex;
  justify-content: end;
}

.Avarage {
  font-size: 20px;
}

.option {
  width: 200px;
}

.salaryList {
  display: block;
  overflow: scroll; 
  overflow: auto; 
}
